// unlocker {
    input[type="range"] {
        width: 100%;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000), to(#1f1f1f));
        -webkit-appearance: none;
        border-radius: 10px;
        // padding: 5px;
        transition: opacity 0.5s;
        position: relative;
        border: 1px solid white;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-radius: 10px;
        background: dodgerblue;
        z-index: 1;
        width: 38px;
        position: relative;
        height: 40px;
    }
    
    input[type="range"]:before {
        content: "Slide me to continue";
        color: dodgerblue;
        position: absolute;
        left: 100px;
        top: 12px;
        z-index: 1;
        font-size: 15px;
    }
    
    input[type="range"]::-webkit-slider-thumb:before {
        color: #8a8a8a;
        position: absolute;
        left: 5px;
        top: -10px;
        z-index: 1;
        font-size: 56px;
        font-weight: bold;
        content: "→";
    }
// }